Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=scrollthindicatorDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=scrollthindicatorDp
Package: jp.r-plus.scrollthindicator
Name: ScrollThindicator
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 0.2
Architecture: iphoneos-arm
Description: a thinner scrollbar indicator
Author: r_plus <anasthasia.r+thin@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Section: Tweaks
dev: rplus
